<!doctype html>
<html>
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
            <title>Ma bibliothèque SF</title>
        {% endblock %}
    </head>
    
    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  
                  <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/favoris">Favoris</a>
                    </li>
                  </ul>
                  
    
                  <form class="d-flex"  action="{{ url_for('search') }}" method="GET">
                    <div id="wrap">
                      <ul class="navbar">
                        <li>
                          <a href="#"><img src ="{{ url_for('static', filename='images/filtre.png') }}"></a>
                          <ul>
                            <li><a href="#">Title</a><input type="checkbox" id="scales" name="titre" checked value="1" {% if request.args.get('titre') %} checked {% endif %}/> </li>
                            <li><a href="#">Author</a><input type="checkbox" id="scales" name="auteur" checked value="1" {% if request.args.get('auteur') %} checked {% endif %} /></li>
                            <li><a href="#">Max Price</a><input type="number" id="scales" name="prix" value="{{ request.args.get('prix') }}"/></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                    <button class="btn btn-outline-success" type="submit" id="searchsubmit">Search</button>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li>
                      <a>{{ current_user.username }}</a>
                    </li>
                    <li>
                      <a href="{{url_for('logout')}}"><img src ="{{ url_for('static', filename='images/logout.png') }}"><span class="glyphicon glyphicon-log-out" title="Logout"></span ></a>
                    </li>
                    {%else%}
                    <li>
                      <a href="{{url_for('login')}}">Login</a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </nav>
        </header>
        <h1 >{{ title }}</h1 >
        {% block main %}{% endblock %}

        <main class="flex-shrink-0">
            <div class="container">
            {% block content %}
            {% endblock %}
            </div>
        </main>
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
            </div>
        </footer>
        {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>