{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
{% endblock %}
{% block content %}
<h1>{{title}}</h1>
<div class="sample">
    <p><a href="{{ url_for ('one_author', id=author_id) }}">{{ author_name }} </a></p>
    
    <img src="{{ url_for('static', filename='images/'+book.img) }}" alt="{{book.title}}" title="{{book.title}}">
    <p>{{book.title}}</p>
    <p>{{book.price}} euro</p>
    <a href="{{book.url}}">{{book.url}}</a>
    {% if current_user.is_authenticated %}
        {% if favoris %}
            <form action="{{ url_for('supp_favoris_route', book_id=book.id) }}" method="POST">
                <button type="submit" class="btn btn-default">Supprimer des favoris</button>
            </form> 
        {% else %}
            <form action="{{ url_for('add_favoris_route', book_id=book.id) }}" method="POST">
                <button type="submit" class="btn btn-default">Ajouter aux favoris</button>
            </form>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
